.button {
	padding: 13px 25px;
	background: #009490;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	border: none;.button {
		padding: 13px 25px;
		background: #009490;
		border-radius: 8px;
		font-size: 16px;
		cursor: pointer;
		border: none;
		outline: none;
	
		&--full {
			border-radius: 5px;
			outline: none;
			border: none;
			width: 100%;
		}
		
		@media screen and (max-width: 768px) {
			&--main {
				font-size: 14px;
			}
		}
	}
	
	outline: none;
}

.button--full{

	border-radius: 5px;
	outline: none;
	border: none;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.button--main {
		font-size: 14px;
	}
}
