.hero {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 4fr 1fr;
	background: #000;
	height: 100vh;
}

.hero-content {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../assets/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: 1/1;
	grid-row: 1/-1;
	display: flex;align-items: center;
}

.hero-gallery {
	grid-column: 2/-1;
	grid-row: 1/2;
}
.hero .stats {
	background: rgb(1, 27, 28);
	grid-column: 2/-1;
	grid-row: 2/-1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 120px;
	text-align: center;
}

.hero .stats h2 {
	font-family: 'Bevan';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: #ffffff;
}

.hero .stats h3 {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -2px;
	color: rgba(255, 255, 255, 0.7);
}

.hero-content {
	grid-column: 1/1;
	grid-row: 1/-1;
	z-index: 3;
	padding: 90px 0;
}

.hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

top: 50%;
}

.hero-content h1 {
	font-weight: 600;
	font-size: 80px;
	line-height: 96px;
	color: #d1d1d1;
	animation: moveDown 1s ease-in-out forwards;
}

.hero-content h1 .span-1 {
	font-weight: 500;
	font-size: 49px;
	line-height: 58px;
}

.hero-content h1 .span-2 {
	font-weight: 600;
	font-size: 90px;
	line-height: 107.55px;
	color: #fff;
}

.hero-content p {
	padding: 0 85px;
	animation: moveRight 1s ease-in-out forwards;
}

.btn-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 65px;
	animation: moveRight 1s ease-in-out forwards;
}

.btn-container .line {
	border: 0.5px solid #ffffff;
	grid-column: 1/1;
	width: 40%;
	height: 0;
	margin: 0;
}

.btn-container button {
	padding: 12px 35px;
	font-size: 18px;
	border: 1px solid #ffffff;
	background: none;
	cursor: pointer;
	transition: all 0.15s linear;
}

@media screen and (max-width: 1200px) {
	.hero-content h1 {
		font-size: 70px;
	}

	.hero-content h1 .span-1 {
		font-size: 39px;
	}
	.hero-content h1 .span-2 {
		font-size: 80px;
	}
	.hero-content p {
		font-size: 15px;
	}
}
@media screen and (max-width: 1050px) {
	.hero {
		grid-template-rows: repeat(3, auto);
		height: auto;
	}
	.hero-content {
		grid-row: 1/2;
		grid-column: 1/-1;
	}
	.hero-gallery {
		grid-column: 1/-1;
		grid-row: 3/-1;
		height: 500px;
	}

	.hero .stats {
		grid-row: 2/3;
		grid-column: 1/-1;
		padding: 30px 0;
	}
}

@media screen and (max-width: 580px) {
	.hero-content h1 {
		font-size: 55px;
	}

	.hero-content h1 .span-1 {
		font-size: 25px;
	}
	.hero-content h1 .span-2 {
		font-size: 65px;
	}
	.hero-content p {
		font-size: 14px;
		padding:  0 30px;
	}

	.hero .stats{

	}
	.hero .stats .stat{
		scale: 0.8;
	}
}



@media screen and (max-width: 450px) {
	.hero-content h1 {
		font-size: 50px;
	}


	.hero-content h1 .span-1 {
		font-size: 20px;
	}
	.hero-content h1 .span-2 {
		font-size: 60px;
	}
	.hero-content p {
		font-size: 13px;
		padding:  0 40px;
	}
}

