.reviews {
	background: black;
	position: relative;
	color: #fff;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../../assets/reviews-bg.jpg) no-repeat;
	background-size: cover;
	min-height: 722px;
	padding-bottom: 50px;
}

.reviews h1 {
	font-weight: 500;
	font-size: 34px;
	margin: 70px;
	text-align: center;
}

.reviews .content {
	min-height: 200px;
}

.review-container {
	display: flex;
	flex-direction: row;
	margin: 0 130px 130px 130px;
	gap: 80px;
	justify-content: space-between;
	align-items: center;
	position: absolute;

	transform: translateX(0);
	opacity: 1;
	transition: 1s ease-in-out forwards;
	transition-property: all;
	pointer-events: all;
}

.review-container-hidden {
	position: absolute;
	opacity: 0;
	left: -10%;
	transition-property: all;
	z-index: -10;
	pointer-events: none;
}

.review-img {
	border-radius: 9px;
	height: 370px;
	width: 390px;
}

.reviews .name h3 {
	font-weight: 500;
	font-size: 21px;
}

.reviews .location {
	justify-content: flex-start;
}
.reviews .location h4 {
	font-weight: 300;
	font-size: 18px;
	color: #f3f3f3;
}

.reviews .desc-container {
	position: relative;
	width: 100%;
}

.reviews .name p {
	margin: 45px 0;
	font-weight: 300;

	line-height: 1.8rem;
}

.reviews .stars {
	text-align: right;
	margin: 10px 0;
}

.reviews .desc-container .slider {
	height: 4px;
	background: white;
}

.reviews .desc-container .row {
	position: absolute;
	right: 0;
}
/* 
.reviews .row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	z-index: 2;
}

.reviews .row button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 10px;
	background: #252525;
	border: none;
	outline: none;
}

.reviews .row button:hover {
	background: #009490;
} */


@media screen and (max-width:1200px){
	.review-container{
		margin: 0 70px 130px 70px;
	}

}

@media screen and (max-width:1000px){
	
.reviews{
	padding-bottom: 120px;
}
	
	.reviews .name p {
		margin: 20px 0;
	}
	
}

@media screen and (max-width:915px){


	.reviews{
			padding-bottom: 350px;
	}

	.review-container{
		flex-direction: column;
		gap: 30px;
	}

}

@media screen and (max-width:600px){


	.reviews{
			padding-bottom: 400px;
	}


}
@media screen and (max-width:500px){


	.reviews{
			padding-bottom: 450px;
	}
	.review-img{
		width: 90%;
		height: 90%;

	}


}@media screen and (max-width:300px){


	.reviews{
			padding-bottom: 550px;
	}



}