$color_1: #fff;
$color_2: #f3f3f3;

@mixin initTransition {
   transform: translateX(0);
   opacity: 1;
   transition: 1s ease-in-out forwards;
   transition-property: all;
   pointer-events: all;
}

@mixin transitionHidden {
   opacity: 0;
   transform: translateX(-6%);
   transition-property: all;
}

.reviews {
   background: black;
   position: relative;
   color: $color_1;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../../assets/reviews-bg.jpg) no-repeat;
   background-size: cover;
   min-height: 722px;
   padding-bottom: 50px;
   h1 {
      font-weight: 500;
      font-size: 34px;
      margin: 70px;
      text-align: center;
   }
   .content {
      min-height: 200px;
   }
.img-container{
@include initTransition();
   .review-img {
      border-radius: 9px;
      height: 370px;
      width: 390px;
   }
}

   .location {
      justify-content: flex-start;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin: 0.5rem 0 0 0;

      h4 {
         font-weight: 300;
         font-size: 18px;
         color: $color_2;
      }
   }
   .desc-container {
      position: relative;
      width: 100%;

      .name {
         @include initTransition();
         h3 {
            font-weight: 500;
            font-size: 21px;
         }
         p {
            margin: 45px 0;
            font-weight: 300;
            line-height: 1.8rem;
         }
      }
      .slider {
         height: 4px;
         background: white;
      }
      .row {
         position: absolute;
         right: 0;
      }
   }
   .stars {
      text-align: right;
      margin: 10px 0;
      @include initTransition();
   }
}
.review-container {
   display: flex;
   flex-direction: row;
   margin: 0 auto 130px auto;
   width: 85%;
   gap: 80px;
   justify-content: space-between;
   align-items: center;
   // position: absolute;

   // transform: translateX(0);
   // opacity: 1;
   // transition: 1s ease-in-out forwards;
   // transition-property: all;
   // pointer-events: all;

   &.review-hidden {
      position: absolute;
      // opacity: 0;
      // transform: translateX(-6%);
      // transition-property: all;
      z-index: -10;
      pointer-events: none;

      .img-container {
         @include transitionHidden();
      }
      .desc-container {
         .name {
            @include transitionHidden();
         }
         .stars {
            @include transitionHidden();
         }
      }
   }
}


@media screen and (max-width: 1200px) {
   .review-container {
      margin: 0 70px 130px 70px;
   }
}
@media screen and (max-width: 1000px) {
   .reviews {
      padding-bottom: 120px;
      .name {
         p {
            margin: 20px 0;
         }
      }
   }
}
@media screen and (max-width: 915px) {
   .reviews {
      padding-bottom: 350px;
   }
   .review-container {
      flex-direction: column;
      gap: 30px;
   }
}
@media screen and (max-width: 600px) {
   .reviews {
      padding-bottom: 200px;
   }
    .review-container {
     width: unset;
   }
}
@media screen and (max-width: 500px) {
   .reviews {
      padding-bottom: 200px;
   }
   .review-img {
      width: 90%;
      height: 90%;
   }
}
@media screen and (max-width: 300px) {
   .reviews {
      padding-bottom: 550px;
   }
}
