.footer {
	position: relative;
	background: #000;
	height: 100%;
	/* background: url('../../assets/footer-bg.jpg'); */
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../assets/footer-bg.jpg) no-repeat;
	background-position-y: 65%;
}

.subscribe {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 16px;
	gap: 30px;
	margin-top: 50px;
}

.footer .logo {
	margin: 15px;
}

.subscribe-form input[type='text'] {
	padding: 13px;
	background: #fff;
	border-radius: 8px;
	margin-right: 15px;
	font-size: 14px;
	min-width: 300px;
	color: #000;
}
.subscribe-form input[type='text']::placeholder {
	color: #b1b5bb;
}

.footer .line {
	border-top: 1px solid #fff;
	width: 95%;
	margin: 30px;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	font-size: 12px;
	color: #b1b5bb;
	margin: 0 35px 35px 50px;
}

.footer .links-container {
	color: #fff;
	margin: 0 100px 35px;
	font-size: 14px;
	display: flex;
	gap: 40px;
}

@media screen and (max-width: 1165px) {
	.footer-links {
		flex-flow: column-reverse;
	}

	.copyright {
		margin: 0;
	}
}

@media screen and (max-width: 790px) {
	.footer .links-container {
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}

	.copyright {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	/* 
	
	.subscribe-form input[type='submit'] {
		font-size: 14px;
	} */

	.subscribe-form input[type='text'] {
		padding: 11px 8px;
		font-size: 14px;
		min-width: 250px;
	}
}

@media screen and (max-width: 768px) {
	.subscribe-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.subscribe-form input[type='text'] {
		margin: 0;
	}
	.subscribe-form input[type='submit'] {
		width: 50%;
		
	}
}
