/* ---------------------gallery-------------------- */
/* todo:export to component */
.hero-gallery {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-gallery .img-box {
	position: relative;
	width: calc(100% / 3);
	height: 100%;

	transition: all 0.5s;
}

.hero-gallery .img-box:hover {
	width: 80%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2) inset;
	scale: 1;
}

.hero-gallery .img-box::before {
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.55);
	transition: background-color 0.5s;
}

.hero-gallery .img-box:hover::before {
	background-color: transparent;
}

.hero-gallery .img-box:nth-child(1) {
	background: url(../assets/hero-1.png);
	background-size: cover;
	background-position: center;
	height: 100%;
}

.hero-gallery .img-box:nth-child(2) {
	background: url(../assets/hero-2.png);

	background-size: cover;
	background-position: center;
}
.hero-gallery .img-box:nth-child(3) {
	background: url(../assets/hero-3.png);

	background-size: cover;
	background-position: center;
}
/* ---------------------gallery end-------------------- */
@media screen and (max-width: 1050px) {
	.hero-gallery .img-box:hover {
		width: 40%;
		
	}

}
