.card {
   display: flex;
   justify-content: center;
   padding: 80px 0;
}

.card-body {
   background: rgba(170, 147, 147, 0.09);
   backdrop-filter: blur(39px);
   border-radius: 10px;
   color: white;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: min-content;
   scale: 0.9;
}

.card .info {
   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.card .card-img {
   width: 280px;
   height: 280px;
   padding: 0;
}

.info-likes {
   display: flex;
   flex-direction: column;
}

.card .location {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
}

.card .location h4 {
   font-weight: 400;
   font-size: 16px;
   font-weight: 300;
   line-height: 28px;
   margin: 10px;
   letter-spacing: 0.01em;

   color: #f3f3f3;
}
.card-content p {
   font-size: 14px;
   font-weight: 300;
}
.card-img {
   padding: 10px;
   border-radius: 10px;
}
.card .card-content {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 20px 0;
}

.card .icon {
   width: 24px;
   height: 24px;
}

.card .heart {
   background: #494949;
   border-radius: 50%;
   padding: 5px;
   margin: 10px;
}

@media screen and (max-width: 1290px) {
   .card-body {
      flex-wrap: wrap;
   }
}

@media screen and (max-width: 1290px) {
   .card {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      row-gap: 40px;
      column-gap: 40px;
   }
   .card-body {
      scale: 1;
   }
}

@media screen and (max-width: 750px) {
   .card {
      column-gap: 0;
      row-gap: 0;
   }
   .card-body {
      scale: 0.9;
   }
}

@media screen and (max-width: 640px) {
   .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
   }
}

@media screen and (max-width: 285px) {
   .card .card-body {
      scale: 0.8;
   }
}
