.explore {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.90)), url(../../assets/explore-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	max-height: min-content;
	padding-bottom: 50px;
}

.explore-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 80px 300px;
}

.explore-desc h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 75px;
	margin: 10px 0;
	letter-spacing: 0.01em;
}

.explore-desc span {
	color: #03cec9;
}

.explore-desc p {
	text-align: center;
}

.explore-search {
	width: 503px;
	height: 51px;
	color: black;
	background: #f1f1f1;
	border: 1px solid rgba(18, 18, 18, 0.17);
	border-radius: 13px;
	text-align: center;
	margin-top: 40px;
}

.explore-heading {
	/* float: left; */
	position: relative;
	left: 0;
	color: #fff;
}

.explore-heading .line {
	width: 209px;
	height: 0px;
	padding: 0;
	margin: 0;
	border-top: 1px solid #ffffff;
}

.explore-heading h3 {
	margin: 10px 100px;
}

.see-more {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
}

.see-more a {
	text-align: center;
	color: white;

	font-size: 21px;
	line-height: 32px;
	padding: 10px;
}

.see-more:hover .line {
	transform: scaleX(150%);
		transition: 0.4s ease-in-out;

}

.see-more .line {
	width: 102px;
	height: 0px;
	margin: 0;
	border-top: 1px solid #ffffff;

}
