.footer {
   position: relative;
   background: #000;
   height: 100%;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../assets/footer-bg.jpg) no-repeat;
   background-position-y: 65%;

   .logo {
      font-size: 2rem;
   }

   .line {
      border-top: 1px solid #fff;
      width: 95%;
      margin: 30px;
   }
}

.footer-links {
   display: flex;
   justify-content: space-between;
   align-items: center;

	.links-container {
		color: #fff;
		margin: 0 100px 35px;
		font-size: 14px;
		display: flex;
		gap: 40px;
	 }

   @media screen and (max-width: 1165px) {
      flex-flow: column-reverse;
   }

   @media screen and (max-width: 790px) {
      .links-container {
         flex-wrap: wrap;
         justify-content: center;
         gap: 15px;
      }
   }
}

.copyright {
	font-size: 12px;
	color: #b1b5bb;
	margin: 0 35px 35px 50px;
 }


.subscribe {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 16px;
   gap: 30px;
   margin-top: 50px;

   &-form {
		display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      input[type='text'] {
         padding: 13px;
         background: #fff;
         border-radius: 8px;
         margin-right: 15px;
         font-size: 14px;
         min-width: 300px;
         color: #000;

         &::-webkit-input-placeholder {
            color: #b1b5bb;
         }

         &::-moz-placeholder {
            color: #b1b5bb;
         }

         &:-ms-input-placeholder {
            color: #b1b5bb;
         }

         &::-ms-input-placeholder {
            color: #b1b5bb;
         }

         &::placeholder {
            color: #b1b5bb;
         }
      }

      input[type='submit'] {
         width: 50%;
      }
   }
}

@media screen and (max-width: 768px) {
   .subscribe-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      input[type='text'] {
         margin: 0;
         padding: 11px 8px;
         font-size: 14px;
         min-width: 250px;
      }

      input[type='submit'] {
         width: 50%;
      }
   }
}
@media screen and (max-width: 768px) {
   .subscribe-form {
      input[type='submit'] {
         font-size: 14px;
      }
   }
}

.social-links {
   margin-top: 30px;
   display: flex;
   gap: 20px;

   .social-link {
      font-size: 22px;
      color: #fff;
   }
}

.subscribe-success {
   position: absolute;
   background-color: #000000;
   color: #fff;
   padding: 20px;
   border-radius: 10px;
   bottom: 110px;
   left: 50%;
   transform: translateX(-50%);
}
