
.row  {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	z-index: 2;
}

.row button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 10px;
	background: #252525;
	border: none;
	outline: none;
}

.row button:hover {
	background: #009490;
}