.recommendations {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 30px 0 60px 0;
}

.recommendations .title {
	margin: 35px 0 70px;
}

.title img {
	filter: brightness(0);
}

.title h2 {
	font-weight: 700;
	font-size: 33px;
	color: black;
}

.title span {
	color: #009490;
}


.front-container {
	/* position: absolute; */
	position: absolute;
	left: 0;
	top: 0;
	width: 30%;
	background: #252525;
	color: white;
	margin: 130px 105px;
	border-radius: 7px;
	padding: 25px 20px;
	z-index: 3;
}


.img-container {
	position: relative;
	left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.rec-img {
	object-fit: contain;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 7px;
	z-index: 1;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	z-index: 2;
}

.row button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 10px;
	background: #252525;
	border: none;
	outline: none;
}

.row button:hover {
	background: #009490;
}
