.recommendations {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex-direction: column;
	padding: 30px 0 60px 0;
}

.recommendations .title {
	margin: 35px 0 70px;
}

.recommendations .title img {
	filter: brightness(0);
}

.recommendations .title h2 {
	font-weight: 700;
	font-size: 33px;
	color: black;
	margin: 0;
}

.recommendations .title span {
	color: #009490;
}

.recommendations .front-container {
	/* position: absolute; */
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	background: #252525;
	color: white;
	margin: 145px 105px;
	border-radius: 7px;
	padding: 25px 20px;
	z-index: 3;
}

.recommendations .location {
	display: flex;
	flex-direction: row;
}

.recommendations .icon {
	margin-right: 20px;
	height: 24px ;
	width: 24px;
}

.recommendations h3 {
	font-weight: 500;
	font-size: 23px;
	margin: 0;
}

.recommendations p {
	margin-top: 30px;
	font-weight: 300;
	font-size: 16px;
}

.recommendations h4 {
	font-weight: 400;
	margin: 0;
}

.recommendations .img-container {
	position: relative;
	left: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.recommendations .rec-img {
	object-fit: contain;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 7px;
	z-index: 1;
	height: 470px;
}

.recommendations .row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	z-index: 2;
}

.recommendations .row button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 10px;
	background: #252525;
	border: none;
	outline: none;
}

.recommendations .row button:hover {
	background: #009490;
}

.recommendations .container {
	display: block;
	pointer-events: all;
	z-index: 1;
	/* transition: 0.5s ease-in-out all; */
}
.recommendations .container-hidden {
	opacity: 0;
	pointer-events: none;
	z-index: -5;
	position: absolute;
	transition-property: all;
}
